/* css insur.news */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

:root {
    --raio: 10px;
}

.container-fluid {
    padding: 0 5%;
    background-color: rgb(235, 235, 235);
}

.container {
    max-width: 1320px;
    margin: auto;
}

.tag {
    border-radius: 5px;
    padding: 5px 15px;
    font-size: 0.8rem;
    color: white;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.tagPress {
    background-color: brown;
}

.tagExclusiva {
    background-color: blue;
}

.Titulo {
    font-weight: 900;
    margin-bottom: 10px;
}

.SubTitulo {
    font-weight: 400;
}

/* INICIO MENU */

#menu {
    background-color: white;
}

.menu {
    height: 10vh;
    display: grid;
    grid-template-columns: 20% 80%;
}

.logo {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
}

header nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;  
}

@media screen and (max-width: 600px) {
    header nav {
        display: none;
    }

    .menu {
        grid-template-columns: 100%;
    }

    .logo img {
        width: 70%;
        align-self: center;
    }
}

/* FIM MENU */

/* INICIO HERO */

#hero {
    padding: 5%;
}

.hero {
    display: grid;
    grid-template-areas:    "destaque01 destaque02"
                            "destaque01 destaque03" ;
    grid-template-columns: 6fr 4fr;
    gap: 20px;
    height: 90vh;
}

@media screen and (max-width: 768px) {
    .hero {
        grid-template-areas:    "destaque01 destaque01"
                                "destaque02 destaque03" ;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        height: 120vh;
  }
}

@media screen and (max-width: 600px) {
    .hero {
        grid-template-areas:    "destaque01"
                                "destaque02" 
                                "destaque03" ;
        grid-template-columns: 1fr;
        grid-template-rows: 2fr 1fr 1fr;
        height: 160vh;
  }
}

.hero div {
    border-radius: var(--raio);
    background-color: white;
}

.destaquePrincipal {
    grid-area: destaque01;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: start;
    padding: 0 5% 50px 5%;
}

.destaqueSecundario01{
    grid-area: destaque02;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: start;
    padding: 0 5% 20px 5%;
}

.destaqueSecundario02{
    grid-area: destaque03;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: start;
    padding: 0 5% 20px 5%;
}

/* FIM HERO */

/* INICIO BANNER */


.banner01 {
    background-image: url('imgs/back_banner01.webp');
    background-position: center;
    background-size: cover;
    height: 60vh;
}

.efeitoBanner01 {
    height: 100%;
    width: 100%;
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgba(255, 255, 255, 0.472);
    font-size: 4rem;
    font-weight: 900;
}

@media screen and (max-width: 768px) {
    .efeitoBanner01 {
    font-size: 3rem;
    }
}

/* FIM BANNER */


/* INICIO 4 DESTAQUES */

.destaques {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
    padding: 5% 0;
}

@media screen and (max-width: 768px) {
    .destaques {
        grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 600px) {
    .destaques {
        grid-template-columns: 1fr;
  }
}

.destaques div {
    padding: 30% 10% 10% 10%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: start;
    background-color: white;
    border-radius: var(--raio);
}



/* FIM 4 DESTAQUES */



/* INICIO EVENTOS */

#eventos {
    padding: 5%;
    background-color: white;
}

.evento {
    height: 300px !important;
    margin: 0 10px;
    border-radius: var(--raio);
    background-color: white;
    background-color: rgb(235, 235, 235);
}

.tagEventos {
    font-size: 0.6rem;
    padding-left: 10px;
    margin-bottom: 10px;
    font-weight: 400;
}

.titAgenda {
    color: #009db7;
    font-size: 2rem;
    padding-left: 10px;
    width: 50%;
    margin-bottom: 20px;
}

.custom-prev, .custom-next {
    background-color: rgba(255, 0, 0, 0) !important;
    color: black !important;
    border: none !important;
    padding: 10px !important;
    cursor: pointer !important;
    z-index: 1000 !important;
}
.custom-prev {
    position: absolute;
    left: -20px;
    top: 50%;
    transform: translateY(-50%);
}
.custom-next {
    position: absolute;
    right: -20px;
    top: 50%;
    transform: translateY(-50%);
}

@media screen and (max-width: 600px) {
    .titAgenda {
        width: 100%;
    }
}

/* FIM EVENTOS */


/* INICIO DEMAIS NEWS */

#maisNews > div {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
    padding: 5% 0;
}

.cardNews {
    height: 350px;
    background-color: white;
}

.cardNewsImg {
    background-image: url('imgs/back_banner01.webp');
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 200px;
}

.cardNews h5{
    font-size: 0.6rem;
    margin: 20px 20px 10px 20px;
    font-weight: 400;
}

.cardNews h3 {
    margin: 0 20px 5px 20px;
    font-weight: 900;
}

.cardNews h4 {
    font-weight: 400;
    margin: 0 20px 5px 20px;
    font-size: 0.9rem;
}

@media screen and (max-width: 768px) {
    #maisNews > div {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 600px) {
    #maisNews > div {
        grid-template-columns: 1fr;
    }
}

/* FIM DEMAIS NEWS */

/* INICIO VAGAS */

#vagas {
    padding: 5%;
}

.titVagas {
    color: #009db7;
    font-size: 2rem;
    padding-left: 10px;
    width: 50%;
    margin-bottom: 20px;
}

/* FIM VAGAS */